# This temporary branch includes some WIP features that haven't been released yet.
# Should be the latest commit on the ismir-2025 branch.
# Note: it's dangerous to specify the branch name directly, as it may confuse the Docker cache
# If you want to update your repository to use the latest version of this branch:
# 1. Go to https://gitlab.com/PsyNetDev/PsyNet/-/merge_requests/856
# 2. Copy the latest commit hash, and paste it below after `PsyNet@`
# 3. Run `psynet generate-constraints` in the terminal
# 4. Add `requirement.txt` and `constraints.txt` to git, then commit, then push
# 5. Press CMD-SHIFT-P, then select `Codespaces: Rebuild Container`
psynet@git+https://gitlab.com/PsyNetDev/PsyNet.git@66f697b34c16a63ae39963f35e27a328f65c8c35#egg=psynet

# Pinning to DT fix: https://github.com/Dallinger/Dallinger/pull/8107/commits
dallinger@git+https://github.com/Dallinger/Dallinger.git@329c661591883d684b3ac0f2cb3d5221294f3c4d#egg=dallinger

# This is needed because PsyNet is missing this dependency
sqlalchemy-postgres-copy

repp@git+https://gitlab.com/computational-audition/repp.git@master#egg=repp
step@git+https://github.com/pmcharrison/STEP.git#egg=step

matplotlib
