# We're currently pinning to a recent commit on the PsyNet master branch.
# Ideally we'd pin to a release version soon.
# Note: it's dangerous to specify the branch name directly, as it may confuse the Docker cache.
# If you want to update your repository to use the latest version of this branch:
# 1. Go to https://gitlab.com/PsyNetDev/PsyNet
# 2. Copy the latest commit hash (should display near the top of the page),
#    and paste it below after `PsyNet@`
# 3. Run `psynet generate-constraints` in the terminal
# 4. Add `requirement.txt` and `constraints.txt` to git, then commit, then push
# 5. Press CMD-SHIFT-P, then select `Codespaces: Rebuild Container`
psynet@git+https://gitlab.com/PsyNetDev/PsyNet@23432cc73b22d76fbb6899e6bdac58a536c77e35#egg=psynet

# repp@git+https://gitlab.com/computational-audition/repp@master#egg=repp
# matplotlib
